html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
  background-color: #53dd6c;
}
nav {
  display: flex;
  background: white;
  color: white;
  padding: 10px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav ul {
  display: flex;
}
nav li {
  padding-left: 15px;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
nav li a {
  color: black;
  text-decoration: none;
}
nav li a:hover {
  color: #53dd6c;
}

/* Section */

.main_section {
  padding: 7%;
  text-align: center;
}

.main_section h1 {
  font-size: 35px;
  letter-spacing: 1px;
}

.products {
  background-image: url("../img/curve.png");
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
}
.product {
  padding: 10px;
  margin-top: -240px;
}
.product .content {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 2px #c1bcbc;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.img_content {
  text-align: center;
}

.main_button {
  background-color: #02d629;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
.main_button:hover {
  background-color: #53dd6c;
}
/* Beneficios */
.beneficios {
  padding: 10%;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px;
}

.text_beneficio {
  text-align: justify;
}

/* Mentions */
.mentions {
  display: flex;
  padding: 5%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

h2.mention_title {
  text-align: center;
}
.mention {
  padding: 10px;
}
.content_mention {
  display: flex;
  align-items: center;
}
.mention .text {
  padding: 10px;
}

.modulo_pago {
  background-color: white;
  box-shadow: 0 0 2px #c1bcbc;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.modulo_pago_images {
  max-width: 100px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.data {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
}

/* ------------------------------------------- Footer */
footer {
  font-size: 14px;
  background-color: #eeeeee;
  padding: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.container {
  max-width: 900px;
  margin: auto;
}

/* Valor por columna = 8.3333333333 */

.row {
  display: flex;
}

.col-1 {
  width: 8.3333333333%;
}
.col-2 {
  width: 16.6666666666%;
}
.col-3 {
  width: 24.9999999999%;
}
.col-4 {
  width: 33.3333333332%;
}
.col-5 {
  width: 41.6666666665%;
}
.col-6 {
  width: 49.9999999998%;
}
.col-7 {
  width: 58.3333333331%;
}
.col-8 {
  width: 66.6666666664%;
}
.col-9 {
  width: 74.9999999997%;
}
.col-10 {
  width: 83.333333333%;
}
.col-11 {
  width: 91.6666666663%;
}
.col-12 {
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 10px;
}
.col-1 img,
.col-2 img,
.col-3 img,
.col-4 img,
.col-5 img,
.col-6 img,
.col-7 img,
.col-8 img,
.col-9 img,
.col-10 img,
.col-11 img,
.col-12 img {
  width: 100%;
}

.no-desk {
  display: none;
}

/* Query */

@media only screen and (max-width: 768px) {
  .products {
    display: inherit;
    height: auto;
  }
  .product {
    margin-top: auto;
  }
  .main_section {
    padding: 4%;
  }
  .mentions {
    display: inherit;
    height: auto;
  }
  .beneficios {
    display: inherit;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 30px;
  }
  .no-mobile {
    display: none;
  }
  .no-desk {
    display: initial;
  }
  .row {
    display: inline;
    padding: 10px;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
    padding: 0px;
  }
}
