html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
  background-color: #53dd6c;
}
nav {
  display: flex;
  background: white;
  color: white;
  padding: 10px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav ul {
  display: flex;
}
nav li {
  padding-left: 15px;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
nav li a {
  color: black;
  text-decoration: none;
}
nav li a:hover {
  color: #53dd6c;
}

/* Section */

.main_section {
  padding: 7%;
  text-align: center;
}

.products {
  background-image: url("../img/curve.png");
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
}
.product {
  padding: 10px;
  margin-top: -240px;
}
.product .content {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 2px #c1bcbc;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.img_content {
  text-align: center;
}

.main_button {
  background-color: #53dd6c;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}
.main_button:hover {
  background-color: #02d629;
}
/* Beneficios */
.beneficios {
  padding: 10%;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px;
}

.text_beneficio {
  text-align: justify;
}

/* Mentions */
.mentions {
  display: flex;
  padding: 5%;
  font-family: "Roboto", sans-serif;
}

h2.mention_title {
  text-align: center;
}
.mention {
  padding: 10px;
}
.content_mention {
  display: flex;
  align-items: center;
}
.mention .text {
  padding: 10px;
}

/* ------------------------------------------- Footer */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background-color: white;
  padding: 10px;
  color: black;
  font-family: "Roboto", sans-serif;
}
